/* ======================================================================== */
/* GLOBAL */
:root {
	--primary-color: #5c6e7e;
	--secondary-color: #7d8b87;
	--tertiary-color: #a4aead;
	--other-color: #d4d2ce;
	--bright-color: #efedee;
	--dark-color: #0f0f0f;
	--tea-color: #ffa190;
	--macchiato-color: #a2ffeb;
	--milk-tea-color: #ffff7f;
}

/* ======================================================================== */
/* BASE */
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*outline: 1px solid crimson;*/
}
h1, h2, h3, h4, h5, p, a, ul, ol, dl {
	margin: 0;
	padding: 0;
}
body {
	background-color: var(--bright-color);
	position: relative;
}
body.lumos {
	--primary-color: #1a57b2;
	--secondary-color: #1d7ac9;
	--tertiary-color: #6aa6e2;
	--other-color: #afd5eb;
	--bright-color: #eaefed;
}
a.link-profile {
	color: var(--bs-body-color);
	text-decoration-style: dotted;
}
.table {
	margin-bottom: 0;
}
.pad-4 {
	margin-top: 56px;
	padding-top: 2rem;
}
.bot-4 { padding-bottom: 82px!important; }
.top-2 { padding-top: 2rem!important; }
.bot-2 { padding-bottom: 2rem!important; }

/* ======================================================================== */
/* NAVBAR */
.offcanvas-header {
	border-bottom: 1px solid var(--bs-gray-dark);
}
.offcanvas-end {
	width: 100%;
	border: none;
	transition: all 480ms ease-in-out;
}
.offcanvas-title {
	color: var(--bright-color);
}
.mobile {
	display: none;
}
.dropdown-menu.show {
	right: 0;
	left: unset;
}

/* ======================================================================== */
/* DASHBOARD */
.dashboard .box {
	margin: auto;
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));	
	grid-gap: 1rem;
}
.dashboard .card {
	transition: all 240ms ease-in-out;
	overflow: hidden;
}
.dashboard .card:active {
	transform: translateY(3px);
}
.dashboard .card:hover {
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .25);
	box-shadow: 0 0 4px rgba(0, 0, 0, .25);
	background-color: var(--primary-color);
	color: var(--bright-color);
	cursor: pointer;
	font-weight: bold;
}
.dashboard .card .card-base {
	position: relative;
	height: 48px;
}
.dashboard .card .card-text {
	font-size: 12px;
	text-align: center;
	position: absolute;
	width: 100%;
	padding: 0 1rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tea { background-color: var(--tea-color); }
.macchiato { background-color: var(--macchiato-color); }
.milk-tea {	background-color: var(--milk-tea-color); }

.dashboard #forPrint { display: none; }

/* ======================================================================== */
/* CAROUSEL */
.carousel {
	width: 100%;
	height: 64vh;
	overflow: hidden;
	background-image: url('../img/big-art-board.webp');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right -14px;
	background-size: cover;
}

/* ======================================================================== */
/* TOAST */
.toast-container {
	position: fixed;
	top: 70px;
	right: 12px;
	z-index: 6;
}

/* ======================================================================== */
/* PLACEMENT */
.placement {
	text-align: center;
	margin-top: -56px;
	padding-top: 77px;
}
.section-title a {
	color: var(--bs-body-color);
	text-decoration-style: dotted;
	transition: all 300ms ease-in-out;
}
.section-title a:focus,
.section-title a:hover {
	color: var(--primary-color);
}
.section-subtitle {}
.placement ul.filter-list {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	grid-gap: .75rem;
	margin: 1.75rem 0 2rem;
	flex-wrap: wrap;	
	background-color: var(--primary-color);
	box-shadow: 0 4px 1rem rgba(0, 0, 0, .25);
	border-radius: .25rem;
	padding: .25rem 12px;
	width: 100%;
}
.placement li.filter-item {
	list-style-type: none;
	cursor: pointer;
	transition: all 300ms ease-in-out;
	color: var(--bright-color);
	padding: .125rem 0;
}
.placement li.filter-item.active {
	padding: .125rem .75rem;
	background-color: var(--other-color);
	font-weight: 500;
	color: var(--bs-body-color);
}
.placement .card-container {
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
	grid-gap: 1rem;
}
.placement .card {
	transition: background-color 300ms ease-in-out,
				box-shadow 300ms ease-in-out,
				color 300ms ease-in-out;
}
.placement .card:hover {
	box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
}
.placement .card.mix-1:hover { background-color: var(--tea-color); }
.placement .card.mix-2:hover { background-color: var(--macchiato-color); }
.placement .card.mix-3:hover { background-color: var(--milk-tea-color); }

.placement .card img {
	width: 100%;
}
.placement .card-title { font-size: 1rem; }
.placement .card-text { font-size: 12px; }

/* ======================================================================== */
/* FORM */
.insert {
	background-image: url('../img/bg.jpg');
	background-position: center;
	background-attachment: fixed;
}
.input-group-text,
.iconToggle {
	cursor: pointer;
}

/* ======================================================================== */
/* TAB */
ul.nav-tabs li.nav-item:first-child {
	margin-left: 12px;
}
ul.nav-tabs li.nav-item:last-child {
	margin-right: 12px;
}
.tab-pane {
	background-color: #fff;
    color: #495057;
    border-color: #dee2e6 #dee2e6 #fff;
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    padding: 1rem;
}

/* ======================================================================== */
/* SETTINGS */
.settings {}

/* ======================================================================== */
/* FOOTER */
.footer {
	background-color: var(--bs-dark);
	color: var(--bs-light);
	font-size: 12px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.footer a {
	color: var(--bs-light);
	text-decoration: none;
	position: relative;
}
.footer a:focus,
.footer a:hover {
	text-decoration: underline;
	text-decoration-style: dotted;
}
.sitemap li {
	list-style-type: none;00
}
.sitemap li + li::before {
	content: "∙";
	padding-right: 8px;
}